*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1
{
    font-size: 50px;
    background: -webkit-linear-gradient(pink, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn
{
    background-color: pink;
    border-radius: 10%;
    border-style: solid;
    border-color: black;
    color: black;
}
